<div class="row">
  <h2>Librarian Duties</h2>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-10 col-sm-10">
              <button routerLink="/addBook" class="btn btn-sm  btn-main" style="background-color: blue; margin-left: 10px; margin-right: 10px;"
              type="submit">Add a book</button>
              <button routerLink="/addMagazine" class="btn btn-sm  btn-main" style="background-color: blue; margin-left: 10px; margin-right: 10px;"
                  type="submit">Add a magazine</button>
              <button routerLink="/view" class="btn btn-sm  btn-main" style="background-color: blue; margin-left: 10px; margin-right: 10px;"
              type="submit">View materials</button>
              <button routerLink="/viewUsers" class="btn btn-sm  btn-main" style="background-color: blue; margin-left: 10px; margin-right: 10px;"
              type="submit">user Details</button>
              <button routerLink="/viewByUser" class="btn btn-sm  btn-main" style="background-color: blue; margin-left: 10px; margin-right: 10px;"
              type="submit">Materials by user</button>
            </div>
         </div>
    </div>
</div>

<div class="row">
  <h2>Student Duties</h2>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-10 col-sm-10">
              <button routerLink="/bookMaterials" class="btn btn-sm  btn-continue"  style="background-color: blue; margin-left: 10px; margin-right: 10px;"
              type="submit">Allocate a book</button>
              <button  class="btn btn-sm  btn-continue" style="background-color: blue; margin-left: 10px; margin-right: 10px;"
                  type="submit">My materials</button>

            </div>
         </div>
    </div>
</div>
